<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-plist"
        version="0.0.1">

    <name>cordova-plugin-plist</name>
    <description>Cordova/PhoneGap plugin for set plist description</description>
    <license>Apache 2.0 License</license>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
          <string>We would like to save events into the calendar.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>We would like to access your photo library.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
          <string>We would like to use bluetooth.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
          <string>We would like to use microphone.</string>
        </config-file>
    </platform>
</plugin>
