<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-plist"
        version="0.0.1">

    <name>cordova-plugin-plist</name>
    <description>Cordova/PhoneGap plugin for set plist description</description>
    <license>Apache 2.0 License</license>
    <platform name="ios">
        <config-file target="*-Info.plist" parent="UIFileSharingEnabled">
          <array>
            <dict>
                <key>NSCalendarsUsageDescription</key>
                <string>We would like to save events into the calendar</string>
            </dict>
            <dict>
                <key>NSPhotoLibraryUsageDescription</key>
                <string>We would like to create a calendar event.</string>
            </dict>
            <dict>
                <key>NSBluetoothPeripheralUsageDescription</key>
                <string>We would like to use bluetooth.</string>
            </dict>
            <dict>
                <key>NSMicrophoneUsageDescription</key>
                <string>We would like to use microphone.</string>
            </dict>
          </array>
        </config-file>
    </platform>
</plugin>
